
#buttonOne input[type=file] {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#buttonOne {
  padding-right: 16px;
}

.container {
  margin-top: 20px;
}

.image-preview-input, .image-preview-input:hover, .image-preview-input:active {
  position: relative;
  overflow: hidden;
  margin: -4px;
  color: gainsboro;
  background-color: #1EA1EE !important;
  border-color: #CCCCCC !important;

}

.image-preview-input-title {
  margin-left: 2px;
}

.outer-container {

  padding: 7px;
  width: 100%;
  min-height: 100vh;
  background-color: #CCCCCC;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

#bar {
  position: absolute;
  left: -120px;
  top: 80px;

}

#bar2 {
  position: absolute;
  left: -120px;
  top: 150px;
}

#group2 {
  box-shadow: 5px 5px 2px #888888;
}

#group {
  box-shadow: 5px 5px 2px #888888

}

