<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>JPEG Uploader</title>

  <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-3.3.7/css/bootstrap.css}"
        href="../../css/css/bootstrap-3.3.7/bootstrap.css"/>

  <script type="text/javascript" th:src="@{/javaScript/jquery-1.9.0.min.js}"
          src="../../javascript/jquery-1.9.0.min.js"></script>

  <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"
        href="../../css/bootstrap-3.3.7/css/bootstrap.css"/>
</head>


<body>


<div class="outer-container container-fluid"></div>

<div id="bar" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <p>Sorry, something went wrong</p>
    </div>
  </div>

</div>

</body>

</html>









